@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'iNTER' , sans-serif;
    font-family: 'Lexend Deca' , sans-serif;
}
.stats{
    font-family: 'Lexend Deca';
}
:root{
   --main-bf: hsl(233, 47%, 7%);
   --card-bg: hsl(244, 38%, 16%);
   --accent: hsl(277, 64%, 61%);
   --main-pg: hsla(0, 0%, 100%, 0.75);
   --stats-hd:  hsla(0, 0%, 100%, 0.6); 
}
body{
    background: var(--main-bf);
}

.container{
    width: 100%;
    height: 750px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.card{
    width: 78vw;
    height: 430px;
    background: var(--card-bg);
    border-radius: 10px;
    display: flex;
}

.card .dis{
    width: 50%;
    padding: 4rem;
 }

.card .dis h1{
    font-size: 2rem;
} 

.card .dis h1 label{
    color: hsl(277, 64%, 61%) ;
    font-size: 2rem;
}
.card .dis p{
    color: var(--main-pg);
    margin: 1.5rem 0 3rem 0 ; 
}

section{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

section .number{
    font-size: 1.3rem;
    font-weight: 700;
    padding: 5px;
}
section .name{
    text-transform: uppercase;
    color: var(--stats-hd);
    font-size: 10px;
    letter-spacing: 1.5px;
}

.card .card-img {
    border-radius: 0 7px 7px 0;
    width: 50%;
    background: linear-gradient(
        0deg,
        hsla(277, 64%, 61%, 0.5) 0%,
        hsla(277, 64%, 61%, 0.5) 100%
      ),
      url(images/image-header-desktop.jpg) center no-repeat;
    background-size: cover;
  }
/* 
  mobail */
    @media (max-width: 767px) {
     .container{
        height: 100%;
        padding-top: 2rem;
    }
        .card{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            height: 600px;
            
        }
        
        .card .dis{
            width: auto;
            padding: 10px;
         }
        
        .card .dis h1{
            font-size: 1.3rem;
        } 
        
        .card .dis h1 label{
            font-size: 1.3rem;
            
        }
        .card .dis {
            text-align: center;
        }
    
        section {
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
    
        
          .card .card-img {
            border-radius: 7px 7px;
            width: 100%;
            height: 100%;
      
          }
    }
           
       